<html>

<head>
    <title>Seller Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

</head>

<body>
    
    <div class="container-flex d-flex justify-content-center p-3">
        <div class="container">
            <a href="/">
                <img src="/logo1.png" alt="Avatar Logo" style="height: 100px;">
            </a>
        </div>
        <div class="container text-center">
            <a href="/student/seller/home" style="text-decoration: none;">
                <h1 class="text-primary pt-3">Seller Panel</h1>
            </a>
        </div>
        <div class="container text-end pr-2">
            <div>
                <a class="navbar-brand" href="/student/profile">
                    <img src="/avatar.png" alt="Avatar Logo" style="height: 70px;margin: 2px;" class="rounded-pill">
                </a>
                <form action="/student/logout" method="post">
                    <button type="submit" class="btn btn-info align-self-center mr-2">Logout</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-create-auction-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-create-auction" type="button" role="tab" aria-controls="nav-create-auction"
                    aria-selected="true">Create Auction</button>
                <button class="nav-link" id="nav-queue-tab" data-bs-toggle="tab" data-bs-target="#nav-queue"
                    type="button" role="tab" aria-controls="nav-queue" aria-selected="false">Auction Queue</button>
                <button class="nav-link" id="nav-complete-tab" data-bs-toggle="tab" data-bs-target="#nav-complete"
                    type="button" role="tab" aria-controls="nav-complete" aria-selected="false">Auctions
                    Completed</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-create-auction" role="tabpanel"
                aria-labelledby="nav-create-auction-tab">
                <div class="container p-2">
                    <form action="/student/seller/create-auction" method="post" enctype="multipart/form-data"
                        id="auctionForm" autocomplete="off">
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" class="form-control" name="productName">
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control" name="categoryId">
                                <option disabled>Choose category</option>
                                <% categories.forEach(category=> { %>
                                    <option value=<%=category.categoryId %> ><%= category.categoryName %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Product Description</label>
                            <textarea class="form-control" name="productDesc" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Auction Date</label>
                            <input type="datetime-local" name="auctionDate" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Opening Bid</label>
                            <input type="number" name="openingBid" class="form-control" min="0">
                        </div>
                        <div class="form-group">
                            <label>Upload Image</label>
                            <input type="file" class="form-control-file" name="productImg">
                        </div>
                        <button type="submit" class="btn btn-primary">Create Auction</button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-queue" role="tabpanel" aria-labelledby="nav-queue-tab">
                
                <% if(auctions.length > 0) { %>
                    <% auctions.forEach((auction) => { %> 
                        <% if(auction.isCompleted === false) { %>
                        <div class="card mb-3" style="padding: 10px;margin: 5px;">
                            <div class="row no-gutters">
                                <% products.forEach(product =>{ %>
                                <% if(String(product._id) == String(auction.productId)){ %>
                                <div class="col-md-4">
                                    <img src="data:image/png;base64,<%= product.productImg.toString('base64') %>" class="img-fluid" alt="productImg">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Auction id : <%= auction._id %> </h5>
                                        <p class="card-tetx">Product name: <%= product.productName %> </p>
                                        <p class="card-text">Description: <%= product.productDesc %></p>
                                        <% categories.forEach(category =>{ %>
                                            <% if(String(category._id) == String(product.categoryId)){ %>
                                        <p class="card-text">Category: <%= category.categoryName %></p>
                                        <% }}) %>
                                        <% }}) %>
                                        <p class="card-text">Price: <%= auction.openingBid %> </p>
                                        <p class="card-text">Date-Time: <%= auction.auctionDate %></p>
                                        <% if(auction.isAccepted) { %>
                                            <p class="card-text">Status: Accepted </p>
                                        <% } else if(auction.isAccepted == false && auction.isCompleted == true) { %>
                                            <p class="card-text">Status: Rejected </p>
                                        <% } else { %>
                                            <p class="card-text">Status: Pending </p>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }}) } %>
            </div>
            <div class="tab-pane fade" id="nav-complete" role="tabpanel" aria-labelledby="nav-complete-tab">
                <% if(auctions.length > 0) { %>
                    <% var flag=0; auctions.forEach((auction) => { var i=0;%> 
                        <% if(auction.isCompleted === true) {  %>
                        <div class="card mb-3" style="padding: 10px;margin: 5px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="data:image/jpg;base64<%=  %>" class="img-fluid" alt="productImg">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Auction id : <%= auction._id %> </h5>
                                        <p class="card-tetx">Product name: <%= products[1].productName %> </p>
                                        <p class="card-text">Category: <%= auction.categoryName %></p>
                                        <p class="card-text">Description: <%= products[1].productDesc %></p>
                                        <p class="card-text">Price: <%= auction.openingBid %> </p>
                                        <p class="card-text">Date-Time: <%= auction.auctionDate %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% i=i+1;} else if(flag==0){ flag=1; %>
                    <p>No records found!</p>
                <% }}) } %>
            </div>
        </div>
    </div>
    </div>
    <!-- Footer -->
    <div class="container-fluid text-center mt-5 p-4"
        style="background-color: rgba(109, 233, 233, 0.726);position: relative; ">
        <div class="i-bar"
            style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content:center; margin-bottom: 2em;">
            <a class="fa fa-facebook " href="#"
                style="border: none; text-decoration: none;  margin: 0em 1em; color:black; font-size: xx-large;"></a>
            <a class="fa fa-linkedin" href="#"
                style="border: none; text-decoration: none;  margin: 0em 1em; color:black; font-size: xx-large;"></a>
            <a class="fa fa-envelope " href="#"
                style="border: none; text-decoration: none;  margin: 0em 1em; color:black; font-size: xx-large;"></a>
        </div>
        <p class="credit" style="font-size: 20px; font-stretch: 3px; text-align: center; color: black;">
            © ONLINE AUCTION SYSTEM
        </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        const form = document.querySelector('#auctionForm');
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            //console.log("Form submitted");            
            swal({
                title: "Good job!",
                text: "You clicked the button!",
                icon: "success",
            }).then(val => {
                if (val) {
                    form.submit();
                    form.reset();
                }
            })
        });
    </script>
</body>

</html>